html {
  overflow: hidden;
}
body {
  background-color: #303030;
  color: #303030;
  user-select: none;
}
.toolbar__title {
  font-family: monospace;
  font-weight: bold;
  font-size: 32px;
  color: #008F11;
}
.toolbar__title img {
  margin-bottom: -5px;
  margin-right: -5px;
}
.medialab img {
  margin-top: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
}
#loader {
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% + 140px);
  z-index: 1000;
}
#loader img {
  border: 1px solid #444;
  border-radius: 5px;
}
aside {
  height: 100%;
}
.navigation-drawer--permanent.navigation-drawer--clipped {
  max-height: calc(100vh);
  overflow: hidden;
}
.subheader {
  text-transform: uppercase;
  height: 26px!important;
  padding-bottom: 0;
  padding-top: 0;
}
.lower {
  text-transform: lowercase!important;
}
.switchoption .list__tile__content {
  width: 40%;
}
.switcher {
  cursor: pointer;
}
.radio-group {
  width: 35px;
  min-width: 35px;
  max-width: 35px;
}
.unchecked {
  opacity: 0.3;
}
.processes {
  display: flex;
  flex-direction: column;
}
.process {
  display: ruby;
  margin: 0px 0px 15px 0px;
  font-size: 14px!important;
}
.process .list__tile {
  display: block;
}
.process p {
  margin-bottom: 10px;
}
.calendar {
  overflow: hidden;
  height: 64px;
  width: calc(100% - 300px);
  margin-right: 0!important;
}
.calendar-axis path {
  stroke: none;
}
.calendar-axis line{
  stroke: #008F11;
}
.calendar-axis text {
  fill: #008F11;
  font-size: 14px;
  font-family: Roboto;
  user-select: none;
}
rect.calendar-brush {
  fill-opacity: 0.25;
  stroke: #888;
  filter: invert(0.5);
}
.svg {
  overflow: hidden;
  height: 6000px;
}
.legende {
  position: relative;
  top: -15px;
  left: -20px
}
.legende .btn {
  position: absolute;
}
.aggregate {
  font-size: 14px;
  background-color: lightgrey;
  top: 20px;
  left: 40px;
}
.axis path, .axis line {
  stroke: #888;
}
.axis text {
  fill: #BBB;
  font-size: 14px;
  font-family: Roboto;
  user-select: none;
}
rect.interactions {
  cursor: crosshair;
  fill-opacity: 0;
}
rect.brush {
  fill-opacity: 0.25;
  stroke: #888;
  filter: invert(0.5);
}
.tooltipBox {
  background: #444;
  border: 1px solid #DDD;
  border-radius: 5px;
  color: #DDD;
  display: none;
  min-width: 180px;
  max-width: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 5px;
  font-size: 14px;
  z-index: 100;
  user-select: none;
}
.tooltipBox hr {
  margin-bottom: 8px;
}
.tooltipBox div {
  width: 100%;
  display: inline-block;
  display: flex;
  justify-content: space-between;
}
.tooltip-key {
  font-weight: bold;
}
