<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>GPUse</title>
  <link rel="icon" sizes="64x64" href="./favicon.png" type="image/png" />
  <link href="css/roboto.css" rel="stylesheet">
  <link href="css/vuetify.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
 </head>

 <body>
  <div id="dashboard"><v-app dark toolbar>
    <v-toolbar class="dark" fixed>
      <v-toolbar-title>
        <img src="css/logo.png" alt="GPUse" height=35 />
        <v-title>GPUse</v-title>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <a href="https://medialab.sciencespo.fr/" target="_blank" class="medialab">
        <img src="css/medialab.png" alt="médialab Sciences Po" height=35 />
      </a>
      <v-spacer></v-spacer>
      <div class="calendar" :style="{opacity: 1 - loading, display: gpusChoices.length ? 'block' : 'none'}"></div>
    </v-toolbar>

    <aside class="navigation-drawer navigation-drawer--absolute navigation-drawer--clipped navigation-drawer--is-booted navigation-drawer--is-mobile navigation-drawer--open navigation-drawer--permanent">
      <v-list>
        <v-subheader class="mt-2">GPU<span class="lower">s</span></v-subheader>

        <v-list-tile
          v-for="(item, index) in gpus"
          :key="item.id"
          :class="{'unchecked': !item.selected}"
          @click="toggleGPU(index)"
        >
          <v-list-tile-action class="radio-group">
            <v-icon :style="{color: item.color}">fiber_manual_record</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>
              <span>{{ item.name }}</span>
            </v-list-tile-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <v-switch light color="white"
              v-model="item.selected"
              @click.native.stop=""
            ></v-switch>
          </v-list-tile-action>
        </v-list-tile>

        <v-list-tile class="switchoption">
          <v-list-tile-content>
            <v-list-tile-title
              :class="{'switcher': gpusChoices.length > 1 && aggregateGPUs, 'value': true, 'unchecked': aggregateGPUs}"
              @click="if (gpusChoices.length > 1 && aggregateGPUs) aggregateGPUs = false"
            >compare GPUs</v-list-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <v-switch :disabled="gpusChoices.length < 2" light v-model="aggregateGPUs" color="white"></v-switch>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title
              :class="{'switcher': gpusChoices.length > 1 && !aggregateGPUs, 'value': true, 'unchecked': !aggregateGPUs}"
              @click="if (gpusChoices.length > 1 && !aggregateGPUs) aggregateGPUs = true"
            >aggregate GPUs</v-list-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>

      <v-list>
        <v-subheader class="mt-2">Metrics</v-subheader>
        <v-list-tile
          v-for="item in metrics"
          :key="item.id"
          :class="{'unchecked': !item.selected}"
          @click="toggleMetric(item.id)"
        >
          <v-list-tile-action class="radio-group">
            <v-icon :style="{color: item.color}">fiber_manual_record</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>
              <span>{{ item.name }}<span v-if="item.unit"> ({{ item.unit }})</span></span>
            </v-list-tile-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <v-switch light color="white"
              v-model="item.selected"
              @click.native.stop=""
            ></v-switch>
          </v-list-tile-action>
        </v-list-tile>
      </v-list>

      <v-list v-if="hoverDate" class="processes">
        <v-subheader v-if="hoverDate" class="mt-2">RUNNING TASKS ({{ hoverDate }})</v-subheader>
        <v-list-tile
          v-for="process in hoverProcesses"
          class="process"
        >
          <p>
            <v-icon :style="{color: process.gpu_color}">computer</v-icon>
            <v-span :style="{color: usersColors[process.user]}">&nbsp;&nbsp;{{ process.user }}</v-span>
          </p>
          <p class="command" v-html="process.command"></p>
        </v-list-tile>
      </v-list>

      <div class="navigation-drawer__border"></div>
    </aside>

    <main>
      <center id="loader" v-if="loading">
        <img src="css/loader.gif" alt="loader" /><br/>
      </center>

      <div class="svg" :style="{opacity: 1 - loading, display: gpusChoices.length ? 'block' : 'none'}">
        <div class="legende">
          <div
            v-for="item in gpus"
            v-if="item.selected && !(aggregateGPUs && gpusChoices.length > 1)"
            class="btn btn-raised theme--light"
            :style="item.style"
          >
            <div class="btn__content">
              <span>{{ item.name }}</span>
            </div>
          </div>
          <div
            v-if="aggregateGPUs && gpusChoices.length > 1"
            class="aggregate btn btn-raised theme--light"
          >
            <div class="">
              <span>{{ gpusChoices.length }} GPU<span class="lower">s</span>
            </div>
          </div>
        </div>
      </div>
    </main>

    <div class="tooltipBox"><center>
      <b>{{ hoverDate }}</b>
      <hr/>
      <div v-for="item in hoverText">
        <span class="tooltip-key" :style="{color: item.color}">{{item.metric}}:</span>
        <span class="tooltip-val">{{item.value}}</span>
      </div>
    </center></div>

  </v-app></div>

  <script type="text/javascript" src="js/d3.v7.min.js"></script>
  <script type="text/javascript" src="js/vue.min.js"></script>
  <script type="text/javascript" src="js/vuetify.min.js"></script>
  <script type="text/javascript" src="js/pako.min.js"></script>
  <script type="text/javascript" src="js/gepehu-monitor.js"></script>

 </body>
</html>
