<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>gepehu history monitor</title>
  <link href="css/roboto.css" rel="stylesheet">
  <link href="css/vuetify.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
 </head>
 <body>
  <div id="dashboard"><v-app dark toolbar>
    <aside class="navigation-drawer navigation-drawer--absolute navigation-drawer--clipped navigation-drawer--is-booted navigation-drawer--is-mobile navigation-drawer--open navigation-drawer--permanent">
      <v-list>
        <v-subheader class="mt-2 grey--text">GPUs</v-subheader>

        <v-list-tile
          v-for="(item, index) in gpus"
          :key="item.id"
          :class="{'unchecked': !item.selected}"
          @click="toggleGPU(index)"
        >
          <v-list-tile-action class="radio-group">
            <v-icon :style="{color: item.color}">fiber_manual_record</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>
              <span>{{ item.name }}</span>
            </v-list-tile-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <v-switch light color="white"
              v-model="item.selected"
              @click.native.stop=""
            ></v-switch>
          </v-list-tile-action>
        </v-list-tile>

        <v-list-tile class="switchoption">
          <v-list-tile-content>
            <v-list-tile-title
              :class="{'switcher': gpusChoices.length > 1 && aggregateGPUs, 'value': true, 'unchecked': aggregateGPUs}"
              @click="if (gpusChoices.length > 1 && aggregateGPUs) aggregateGPUs = false"
            >compare GPUs</v-list-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <v-switch :disabled="gpusChoices.length < 2" light v-model="aggregateGPUs" color="white"></v-switch>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title
              :class="{'switcher': gpusChoices.length > 1 && !aggregateGPUs, 'value': true, 'unchecked': !aggregateGPUs}"
              @click="if (gpusChoices.length > 1 && !aggregateGPUs) aggregateGPUs = true"
            >aggregate GPUs</v-list-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>

      <v-list>
        <v-subheader class="mt-2 grey--text">Metrics</v-subheader>
        <v-list-tile
          v-for="item in metrics"
          :key="item.id"
          :class="{'unchecked': !item.selected}"
          @click="toggleMetric(item.id)"
        >
          <v-list-tile-action class="radio-group">
            <v-icon :style="{color: item.color}">fiber_manual_record</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>
              <span>{{ item.name }} ({{ item.unit }})</span>
            </v-list-tile-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <v-switch light color="white"
              v-model="item.selected"
              @click.native.stop=""
            ></v-switch>
          </v-list-tile-action>
        </v-list-tile>
      </v-list>

      <v-subheader v-if="hoverDate" class="mt-2 grey--text" style="margin-top: 35px!important">PROCESSES RUNNING ({{ hoverDate }})</v-subheader>
      <v-list v-if="hoverDate" class="processes">
        <v-list-tile
          v-for="process in hoverProcesses"
          class="process"
        >
          <p>
            <v-icon :style="{color: process.color}">computer</v-icon>
            <v-span :style="{color: process.color}">&nbsp;&nbsp;{{ process.user }}</v-span>
          </p>
          <p class="command" v-html="process.command"></p>
        </v-list-tile>
      </v-list>
      <div class="navigation-drawer__border"></div>
    </aside>
    <v-toolbar class="dark" fixed>
      <v-toolbar-title>
        <v-title>gepehu history monitor</v-title>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <a href="https://medialab.sciencespo.fr/" target="_blank">
        <img src="css/medialab.png" alt="médialab Sciences Po" height=35 />
      </a>
    </v-toolbar>
    <main>
      <div class="svg" style="height: 6000px">
        <div class="legende">
          <div
            v-for="item in gpus"
            v-if="item.selected && !(aggregateGPUs && gpusChoices.length > 1)"
            class="btn btn-raised theme--light"
            :style="item.style"
          >
            <div class="btn__content">
              <span>{{ item.name }}</span>
            </div>
          </div>
          <div
            v-if="aggregateGPUs && gpusChoices.length > 1"
            class="btn btn-raised theme--light"
            style="font-size: 14px; background-color: lightgrey; top: 20px; left: 40px"
          >
            <div class="">
              <span>{{ gpusChoices.length }} GPU<span style="text-transform: lowercase">s</span>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div class="tooltipBox"><center>
      <b>{{ hoverDate }}</b>
      <hr/>
      <div v-for="item in hoverText">
        <span class="tooltip-key" :style="{color: item.color}">{{item.metric}}:</span>
        <span class="tooltip-val">{{item.value}}</span>
      </div>
    </center></div>
  </v-app></div>

  <script type="text/javascript" src="js/d3.v4.min.js"></script>
  <script type="text/javascript" src="js/vue.min.js"></script>
  <script type="text/javascript" src="js/vuetify.min.js"></script>
  <script type="text/javascript" src="js/pako.min.js"></script>
  <script type="text/javascript" src="js/gepehu-monitor.js"></script>
 </body>
</html>
